{% extends "base.html" %}
{% block content %}
  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs" style="background: rgb(194,23,97);
    background: linear-gradient(90deg, rgba(194,23,97,0.9878326330532213) 11%, rgba(205,31,79,1) 50%, rgba(210,89,73,1) 94%); color: aliceblue;">
      <div class="container">
        <h1 class="mt-2">Hackers</h1>
      </div>
    </section><!-- End Breadcrumbs -->

    <section class="inner-page">
      <div class="container">
        <div class="row">

          <div class="col-8">

            <h4>Search</h5>
            <input type="search" name="search" id="search" class="form-control" placeholder="Hackathon">
            <hr>
            {% for hacker in hacker %}     
            <div class="card" style="margin-bottom: 10px;">


              <div class="card-header">       

                <h5 class=" d-inline ">{{ hacker.name }}</h5>
                <br>
                <span>{{ hacker.college }}</span>
              </div>
       
              <div class="card-body">
                <h5 class="card-title">Skills</h5>
                <p class="card-text">
                  <ul>
                    <li>{{ hacker.skill_1 }}</li>
                    <li>{{ hacker.skill_2 }}</li>
                    <li>{{ hacker.skill_3 }}</li>
                  </ul>
                </p>

                <a href="#" class="btn btn-primary">Chat</a>
                <a href="#" class="btn btn-success">Team up</a>
              </div>
            </div>
            {% endfor %}
          </div>

          <div class="col-4">
            <h4>Filters</h5>
              <hr>
            <div>
              <label for="form-select">Field</label>
              <select class="form-select" aria-label="Default select example">
                <option value="0">All</option>
                <option value="1">Web Development</option>
                <option value="2">App Development</option>
                <option value="3">Machine Learning</option>
                <option value="4">Blockchain</option>
                <option value="5">Other</option>
              </select>
            </div>
        </div>
      </div>
    </section>

  </main><!-- End #main -->

  {% endblock content %}