{% extends "base.html" %}
{% block content %}
  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">
        <h1 class="mt-2">Hackathons</h1>
      </div>
    </section><!-- End Breadcrumbs -->

    <section class="inner-page">
      <div class="container">
        <div class="row row-cols-4">
          
          <!-- One card -->
          <div class="card" style="width: 18rem;margin-left: 10px;margin-top: 10px">
            <div class="card-body">
              <h5 class="card-title">HackOfiesta</h5>
              <p class="card-text">Hack-o-Fiesta is an event organized by IIIT Lucknow, that lasts for 3 days and the students participate in a team of 1 to 5 like-minded individuals to utilize new technologies and hack together tons of code from different sources to achieve their goal.</p>
              <a href="#" class="btn btn-primary">Find a team member</a>
            </div>
          </div>
          <!-- One card -->
          <div class="card" style="width: 18rem;margin-left: 10px;margin-top: 10px">
            <div class="card-body">
              <h5 class="card-title">HackOfiesta</h5>
              <p class="card-text">Hack-o-Fiesta is an event organized by IIIT Lucknow, that lasts for 3 days and the students participate in a team of 1 to 5 like-minded individuals to utilize new technologies and hack together tons of code from different sources to achieve their goal.</p>
              <a href="#" class="btn btn-primary">Find a team member</a>
            </div>
          </div>
          <!-- One card -->
          <div class="card" style="width: 18rem;margin-left: 10px;margin-top: 10px">
            <div class="card-body">
              <h5 class="card-title">HackOfiesta</h5>
              <p class="card-text">Hack-o-Fiesta is an event organized by IIIT Lucknow, that lasts for 3 days and the students participate in a team of 1 to 5 like-minded individuals to utilize new technologies and hack together tons of code from different sources to achieve their goal.</p>
              <a href="#" class="btn btn-primary">Find a team member</a>
            </div>
          </div>
          <!-- One card -->
          <div class="card" style="width: 18rem;margin-left: 10px;margin-top: 10px">
            <div class="card-body">
              <h5 class="card-title">HackOfiesta</h5>
              <p class="card-text">Hack-o-Fiesta is an event organized by IIIT Lucknow, that lasts for 3 days and the students participate in a team of 1 to 5 like-minded individuals to utilize new technologies and hack together tons of code from different sources to achieve their goal.</p>
              <a href="#" class="btn btn-primary">Find a team member</a>
            </div>
          </div>
          <!-- One card -->
          <div class="card" style="width: 18rem;margin-left: 10px;margin-top: 10px">
            <div class="card-body">
              <h5 class="card-title">HackOfiesta</h5>
              <p class="card-text">Hack-o-Fiesta is an event organized by IIIT Lucknow, that lasts for 3 days and the students participate in a team of 1 to 5 like-minded individuals to utilize new technologies and hack together tons of code from different sources to achieve their goal.</p>
              <a href="#" class="btn btn-primary">Find a team member</a>
            </div>
          </div>
          <!-- One card -->
          <div class="card" style="width: 18rem;margin-left: 10px;margin-top: 10px">
            <div class="card-body">
              <h5 class="card-title">HackOfiesta</h5>
              <p class="card-text">Hack-o-Fiesta is an event organized by IIIT Lucknow, that lasts for 3 days and the students participate in a team of 1 to 5 like-minded individuals to utilize new technologies and hack together tons of code from different sources to achieve their goal.</p>
              <a href="#" class="btn btn-primary">Find a team member</a>
            </div>
          </div>
          <!-- One card -->
          <div class="card" style="width: 18rem;margin-left: 10px;margin-top: 10px">
            <div class="card-body">
              <h5 class="card-title">HackOfiesta</h5>
              <p class="card-text">Hack-o-Fiesta is an event organized by IIIT Lucknow, that lasts for 3 days and the students participate in a team of 1 to 5 like-minded individuals to utilize new technologies and hack together tons of code from different sources to achieve their goal.</p>
              <a href="#" class="btn btn-primary">Find a team member</a>
            </div>
          </div>
          <!-- One card -->
          <div class="card" style="width: 18rem;margin-left: 10px;margin-top: 10px">
            <div class="card-body">
              <h5 class="card-title">HackOfiesta</h5>
              <p class="card-text">Hack-o-Fiesta is an event organized by IIIT Lucknow, that lasts for 3 days and the students participate in a team of 1 to 5 like-minded individuals to utilize new technologies and hack together tons of code from different sources to achieve their goal.</p>
              <a href="#" class="btn btn-primary">Find a team member</a>
            </div>
          </div>
         


      </div>
    </section>

  </main><!-- End #main -->

{% endblock content %}